{% extends 'layouts/app.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="col-lg-8 mx-auto py-4 text-center">
        <h3> Login </h3>
    </div>

    {% if error %}
        <div class="alert alert-danger col-lg-8 mx-auto text-center" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <div class="col-lg-8 col-sm- mx-auto">
        <form action="{{ BASE_URL }}/auth/authenticate" method="POST">
            <input type="hidden" name="_token" value="{{ csrf_token }}">

            <div class="form-group">
                <label for="email">E-mail</label>
                <input placeholder="Seu e-mail cadastrado" type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group mt-3">
                <label for="birth_date">Data Nascimento</label>
                <input placeholder="Data de Nascimento" type="date" class="form-control" id="birth_date" name="birth_date" required>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Fazer Login</button>
        </form>

        <p class="text-center mt-3">
            Não tem uma conta? <a href="{{ BASE_URL }}/auth/register">Registre-se</a>
        </p>

    </div>
{% endblock %}